<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">
        GS
      </a>
      <div class="">
        <button type="button" class="btn btn-success nav-btn">Login</button>
      </div>
    </nav>
<div class="log">
<form class="" action="index.html" method="post">
  <h3>Create Account</h3>

    <label for="username">Username</label>
    <div class="">
      <input type="text" name="username" value="">
    </div>
    <label for="username">Email</label>
    <div class="">
      <input type="text" name="username" value="">
    </div>
    <div class="">

      <button type="button" class="btn btn-primary">Create Account</button>
    </div>
</form>


<form class="" action="index.html" method="post">
  <h3>Log In</h3>
      <label for="code">Code</label>
      <div class="">
        <input type="text" name="code" value="">
      </div>

<div class="">
  <button type="button" class="btn btn-success nav-btn">Login</button>
</div>
    </form>
</div>
  </body>
</html>
