body {
  background-color: grey;
}

.navbar-brand {
  background-color: silver;
  padding: 15px;
}

nav-btn {
  display: flex;
  align-content: flex-end;
}

h1, h6{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
